*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REGOLE MULTIUSO */
li a{
  color: lightgrey;
  text-decoration: none;
  list-style: none;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  overflow: hidden;
}

main{
  display: flex;
  height: calc(100% - 80px);
  overflow: hidden;
}

.nav-left{
  width: 250px;
  height: 100%;
  background-color: black;

}


.nav-left-top{
  height: 80px;
  background-color: black;

}

.nav-left-top img{
  height: 70%;
  margin: 10px 15px;
  margin-left: 20px;

}

.nav-menu .menu li a{
  text-decoration: none;
  font-size: 15px;

}

.nav-menu li a img{
  height: 30px;
  margin-left: 20px;
}


.nav-menu .on {
  border-left: 2px solid rgb(32, 204, 49);
}

.playlist h3{
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 15px;
  margin-left: 10px;
}

.crea-playlist ul li {
  display: inline;

}

.crea-playlist i{
  font-size: 30px;
  margin-left: 20px;
}

.menu-playlist {
  min-height: 200px;
  flex-grow: 1;
  overflow-y: auto;
}

.menu-playlist li a{
  font-size: 17px;
  line-height: 35px;
  text-decoration: none;
  margin-left: 20px;

}


.nav-left-footer{
 margin-top: calc(100% - 100px);
}

.nav-left-footer hr{
  width: 90%;
  margin: auto;
}

.nav-left-footer-top img {
  width: 17px;
  margin-left: 20px;
}

.nav-left-footer-top  ul li,
.nav-left-footer-bottom  ul li {
  display: inline;

}

.nav-left-footer-top{
  padding-bottom: 10px;

}

.nav-left-footer-bottom{
  padding-top: 10px;


}

.nav-left-footer-bottom img {
  width: 25px;
  background-color: grey;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 20px;
}

.content{
  width: calc(100% - 250px);
  height: 100%;
  background-color: black;
  padding-top: 80px;
  overflow-y: scroll;
  text-align: right;
}


.fix-bar{
  width: calc(100% - 250px);
  height: 80px;
  background-color: rgba(14, 14, 13, 0.66);
  right: 0;
  top: 0;
  position: fixed;
}

.btn{
  border: 1px solid white;
  border-radius: 20px;
  padding: 9px 15px;
  color: white;
  text-decoration: none;
  line-height: 80px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.suggeriti {
  display: flex;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
}

.suggeriti li {
  display: inline-block;
  position: relative;
  text-decoration: none;
  list-style: none;
  padding: 16px 11px;
}

.suggeriti .on::after {
  content: "";
  position: absolute;
  width: 40px;
  border: 1px solid rgb(32, 204, 49);
  bottom: 12px;
  left: 30%;
}

.recently-played{
  margin-top: 20px;
}

.recently-played h1{
  text-align: left;
  margin-left: 20px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.playlist-container {
  margin-top: 30px;
  display: flex;
}

.playlist-container .box{
  width: calc(100% / 6 - 40px);
  text-align: center;
  margin-right: 30px;
}

.playlist-container .box:first-child{
  margin-left: 20px;
}

.img {
  position: relative;
  font-size: 0;
}

.box h2{
  color: white;
  text-align: center;
  font-size: 20px;
}

.box p{
  color: lightgrey;
}

.playlist-container .layover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.playlist-container .layover:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.playlist-container .layover:hover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 45px;
}

.playlist-container img{
  width: 100%;
}











/* MEDIA-QUERY */
@media screen and (min-width: 580px) {

  .nav-left .nav-left-top .logo-small{
    display: none;
  }

}

@media screen and (max-width: 579px) {

  .nav-left {
    width: 60px;
  }

  .nav-left-top .logo{
    display: none;
  }

  .nav-menu .menu ul li a span{
    display: none;
  }

  .playlist{
    display: none;
  }

  .menu-playlist {
    display: none;
  }

  .nav-left-footer span{
    display: none;
  }

  .nav-left-footer-top::after {
    display: none;
  }

  .nav-left-footer-top img {
    padding-bottom: 12px;
    width: 17px;
    margin: 0 5px;
  }

}
