*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}

main{
  display: flex;
  height: calc(100% - 80px);
}

.nav-left{
  width: 250px;
  height: 100vh;
  background-color: black;
}

.nav-left-top{
  height: 80px;
  background-color: black;
}

.nav-left-top img{
  height: 70%;
  margin: 10px 15px;

}

.nav-menu li a{
  text-decoration: none;
  color: white;
  font-size: 15px;

}

.nav-menu li a img{
  height: 30px;
}


.content{
  width: calc(100% - 250px);
  height: 100%;
  background-color: darkgrey;
  padding-top: 80px;
  overflow-y: scroll;
}

.fix-bar{
  width: calc(100% - 250px);
  height: 80px;
  background-color: rgba(14, 14, 13, 0.66);
  right: 0;
  top: 0;
  position: fixed;
}
